{% extends 'base.html' %}
{% block content %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Edit Review</h2>
        <hr />
        <form method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="rating" class="form-label">Rating:</label>
            <select name="rating" id="rating" class="form-select" required>
              <option value="1" {% if template_data.review.rating == 1 %}selected{% endif %}>1 Star</option>
              <option value="2" {% if template_data.review.rating == 2 %}selected{% endif %}>2 Stars</option>
              <option value="3" {% if template_data.review.rating == 3 %}selected{% endif %}>3 Stars</option>
              <option value="4" {% if template_data.review.rating == 4 %}selected{% endif %}>4 Stars</option>
              <option value="5" {% if template_data.review.rating == 5 %}selected{% endif %}>5 Stars</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <textarea name="comment"
            class="form-control" id="comment">{{template_data.review.comment }}</textarea>
          </div>
          <div class="text-start">
            <button type="submit"
              class="btn bg-dark text-white">Update Review
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}